<h2> Solución del problema propuesto del proyecto integrador

In [1]:
import pandas as pd
from datetime import datetime
import pyarrow

In [2]:
df_user= pd.read_parquet('user.parquet')
df_user

                   user_id  item_id  playtime_forever
0        76561197970982479       10                 6
1        76561197970982479       20                 0
2        76561197970982479       30                 7
3        76561197970982479       40                 0
4        76561197970982479       50                 0
...                    ...      ...               ...
5094100  76561198329548331   346330                 0
5094101  76561198329548331   373330                 0
5094102  76561198329548331   388490                 3
5094103  76561198329548331   521570                 4
5094104  76561198329548331   519140                 3

[5094105 rows x 3 columns]

In [3]:
df_review=pd.read_csv('review.csv')
df_review

                 user_id  item_id  recommend  sentiment_analysis  year
0      76561197970982479     1250       True                   2  2011
1      76561197970982479    22200       True                   2  2011
2      76561197970982479    43110       True                   2  2011
3                js41637   251610       True                   2  2014
4                js41637   227300       True                   0  2013
...                  ...      ...        ...                 ...   ...
59300  76561198312638244       70       True                   2  2023
59301  76561198312638244   362890       True                   2  2023
59302        LydiaMorley   273110       True                   2  2023
59303        LydiaMorley      730       True                   2  2023
59304        LydiaMorley      440       True                   2  2023

[59305 rows x 5 columns]

In [4]:
df_items=pd.read_csv('juego.csv')
df_items['price'].fillna(0, inplace=True)
df_items

,publisher,title,price,item_id,developer,release_year,Accounting,Action,Adventure,Animation &amp; Modeling,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,Kotoshiro,Lost Summoner Kitty,4.99,761140,Kotoshiro,2018,False,True,False,False,...,False,False,False,True,False,False,True,False,False,False
1,"Making Fun, Inc.",Ironbound,0.00,643980,Secret Level SRL,2018,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False
2,Poolians.com,Real Pool 3D - Poolians,0.00,670290,Poolians.com,2017,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
3,彼岸领域,弹炸人2222,0.99,767400,彼岸领域,2017,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
4,NaN,NaN,2.99,773570,NaN,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32128,Ghost_RUS Games,Russian Roads,1.99,773640,"Nikita ""Ghost_RUS""",2018,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
32129,Sacada,EXIT 2 - Directions,4.99,733530,Sacada,2018,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
32130,Laush Studio,NaN,1.99,610660,Laush Dmitriy Sergeevich,2018,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
32131,SIXNAILS,NaN,4.99,658870,"xropi,stev3ns",2017,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
32132,NaN,NaN,4.99,681550,NaN,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

<h1>solucion 1 problema

In [5]:
# importamos las columnas developer e item_id
df_dev=df_items[['developer', 'price', 'release_year']]

#borramos los valores nulos en developer
df_dev=df_dev.dropna(subset=['developer'])

df_dev=df_dev.sort_values(by='developer', ascending=True)
# Filtrar el DataFrame para excluir las filas con valores diferentes de 0 en 'price'
df_dev = df_dev[df_dev['price'] == 0]
df_dev

                                developer  price  release_year
30188                      11 bit studios    0.0          2013
10964                14 Hours Productions    0.0          2017
690                      1C: Maddox Games    0.0          2011
14292                        2-Volt Games    0.0          2017
24484  2Chance Projects,IIchan Eroge Team    0.0          2015
...                                   ...    ...           ...
11273                                弘原游戏    0.0          2017
14548                             拉貢拉斯找金粒    0.0          2017
32098                        杭州分浪网络科技有限公司    0.0          2018
14604                            深圳市云宙多媒体    0.0          2017
25224                             高考恋爱委员会    0.0          2015

[2779 rows x 3 columns]

indicamos los valores de la columna developer y cuantas veces se repite

In [6]:
df_dev['developer'].value_counts()

OVERKILL - a Starbreeze Studio.    40
KOEI TECMO GAMES CO., LTD.         27
Choice of Games                    22
Monster Games                      20
Daybreak Game Company              14
                                   ..
Guard Crush Games                   1
Grzegorz Slazinski                  1
Grynsoft                            1
Grundislav Games                    1
高考恋爱委员会                             1
Name: developer, Length: 2036, dtype: int64

como indica muchos desarrolladores, se hace un filtro eliminando los desarrolladores que tienen 1 juego gratis

In [7]:
valores = df_dev['developer'].value_counts() == 1

# Filtrar el DataFrame para excluir las filas con valores que se repiten solo una vez
df_dev = df_dev[~df_dev['developer'].isin(valores[valores].index)]
df_dev

                                    developer  price  release_year
29062             3D Realms (Apogee Software)    0.0          1990
29088             3D Realms (Apogee Software)    0.0          1990
29125             3D Realms (Apogee Software)    0.0          1991
29126             3D Realms (Apogee Software)    0.0          1993
15196                             4th cluster    0.0          2017
...                                       ...    ...           ...
27676                               roseVeRte    0.0          2011
8198                              studio wasp    0.0          2015
20363                             studio wasp    0.0          2014
24803  weltenbauer. Software Entwicklung GmbH    0.0          2015
25334  weltenbauer. Software Entwicklung GmbH    0.0          2015

[1084 rows x 3 columns]

se cuenta cuantas veces se repite cada valor de la columna developer

In [8]:
df_dev['developer'].value_counts()

OVERKILL - a Starbreeze Studio.           40
KOEI TECMO GAMES CO., LTD.                27
Choice of Games                           22
Monster Games                             20
Daybreak Game Company                     14
                                          ..
MAGIX Software GmbH                        2
MDickie                                    2
Manuel Pazos,Daniel Celemín                2
Matthew Brown                              2
weltenbauer. Software Entwicklung GmbH     2
Name: developer, Length: 341, dtype: int64

In [9]:
df_dev.rename(columns={'release_year': 'Año'}, inplace=True)

C:\Users\dario\AppData\Local\Temp\ipykernel_13736\1492299540.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dev.rename(columns={'release_year': 'Año'}, inplace=True)

se guarda el archivo para subir a fastapi y no use muchos recursos

In [10]:
df_dev.to_csv('1punto.csv', index=False)

se genera la solución sin fastapi

In [11]:
def developer(desarrollador: str):
    
    # Filtrar el DataFrame para obtener solo las filas correspondientes al desarrollador especificado
    df_filtrado = df_dev[df_dev['developer'] == desarrollador]

    # Calcular la cantidad de items por año
    cantidad_items_por_anio = df_filtrado.groupby('Año').size()

    # Calcular el porcentaje de contenido gratuito por año
    porcentaje_contenido_gratuito_por_anio = (df_filtrado.groupby('Año').size())/((cantidad_items_por_anio).sum())*100

    # Crear un nuevo DataFrame con los resultados
    resultado = pd.DataFrame({'Cantidad': cantidad_items_por_anio,
                              'Contenido Free': porcentaje_contenido_gratuito_por_anio})
    
    # Formatear el porcentaje con '%' al final
    resultado['Contenido Free'] = resultado['Contenido Free'].astype(str) + '%'

    return resultado

In [12]:
developer('3D Realms (Apogee Software)')

      Cantidad Contenido Free
Año
1990         2          50.0%
1991         1          25.0%
1993         1          25.0%

<h1>Solucion 2 problema

def userdata( User_id : str ): Debe devolver cantidad de dinero gastado por el usuario, el porcentaje de recomendación en base a reviews.recommend y cantidad de items.

Se hace un merge entre los diferentes dataframe para dar solución al 2 problema

In [13]:
# Realiza la relación entre df_user y df_item en base a 'item_id' y agrega la columna 'price' de df_item
df_datauser = pd.merge(df_user[['user_id', 'item_id']], df_items[['item_id', 'price']], on='item_id', how='left')
df_datauser = pd.merge(df_datauser, df_review[['user_id', 'item_id', 'recommend']], on=['user_id', 'item_id'], how='left')

# la columna 'user_id' se pasara a minusculas
df_datauser['user_id'] = df_datauser['user_id'].str.lower()
df_datauser

                   user_id  item_id  price recommend
0        76561197970982479       10   9.99       NaN
1        76561197970982479       20   4.99       NaN
2        76561197970982479       30   4.99       NaN
3        76561197970982479       40   4.99       NaN
4        76561197970982479       50   4.99       NaN
...                    ...      ...    ...       ...
5094805  76561198329548331   346330   0.00       NaN
5094806  76561198329548331   373330   0.00       NaN
5094807  76561198329548331   388490   0.00       NaN
5094808  76561198329548331   521570   0.00       NaN
5094809  76561198329548331   519140    NaN       NaN

[5094810 rows x 4 columns]

In [14]:
#se revisa los valores nulos en la columna
df_datauser['recommend'].isnull().sum()

5049918

In [15]:
# Reemplaza los valores nulos en la columna 'recommend' por False
df_datauser['recommend'].fillna(False, inplace=True)

se borra la columna item_id para liberar espacio

In [16]:
df_datauser = df_datauser.drop(columns=['item_id'])

se genera un parquet para utilizar con fastapi

In [17]:

df_datauser.to_parquet('2punto.parquet', index=False)

In [18]:
def userdata(user_id: str):
    user_id = user_id.lower()
    comprobar = list(set(df_datauser['user_id']))
    if user_id in comprobar:
           
         # Filtrar el DataFrame por el usuario especificado
        user_data = df_datauser[df_datauser['user_id'] == user_id]
        
        # Contar las repeticiones del usuario
        contador = user_data.shape[0]
        
        # Sumar la columna 'price' para las filas correspondientes al usuario
        suma_precios = user_data['price'].sum()
        # Filtrar las filas donde la columna 'recommend' es True y luego sumar esos valores para dividirlos entre el contador
        promedio = (user_data[user_data['recommend'] == True]['recommend'].sum())*100/contador


        print(f"El usuario {user_id} tiene {contador} items.")
        print(f"La suma dinero gastado para este usuario es: {suma_precios}")
        print(f"El porcentaje de recomendaciones para este usuario es: {promedio:.2f} %")
    
        return 
    else:
        print('Ingrese nuevamente el usuario')
        return

Se realiza una prueba de la función ingresando un id_user

In [19]:
userdata('76561197970982479')

El usuario 76561197970982479 tiene 277 items.
La suma dinero gastado para este usuario es: 3424.31
El porcentaje de recomendaciones para este usuario es: 1.08 %

<h1> Solución problema 3

def UserForGenre( genero : str ): Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año de lanzamiento analizado bajo la columna PlayTimeForever.

In [24]:
# Realiza la relación entre df_user y df_item en base a 'item_id' 
df_genre = pd.merge(df_user, df_items, on='item_id', how='right')
df_genre

,user_id,item_id,playtime_forever,publisher,title,price,developer,release_year,Accounting,Action,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,NaN,761140,NaN,Kotoshiro,Lost Summoner Kitty,4.99,Kotoshiro,2018,False,True,...,False,False,False,True,False,False,True,False,False,False
1,NaN,643980,NaN,"Making Fun, Inc.",Ironbound,0.00,Secret Level SRL,2018,False,False,...,False,True,False,False,False,False,True,False,False,False
2,NaN,670290,NaN,Poolians.com,Real Pool 3D - Poolians,0.00,Poolians.com,2017,False,False,...,False,False,False,True,False,True,False,False,False,False
3,NaN,767400,NaN,彼岸领域,弹炸人2222,0.99,彼岸领域,2017,False,True,...,False,False,False,False,False,False,False,False,False,False
4,NaN,773570,NaN,NaN,NaN,2.99,NaN,0,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4267767,NaN,773640,NaN,Ghost_RUS Games,Russian Roads,1.99,"Nikita ""Ghost_RUS""",2018,False,False,...,False,False,False,True,False,False,True,False,False,False
4267768,NaN,733530,NaN,Sacada,EXIT 2 - Directions,4.99,Sacada,2018,False,False,...,False,False,False,False,False,False,True,False,False,False
4267769,NaN,610660,NaN,Laush Studio,NaN,1.99,Laush Dmitriy Sergeevich,2018,False,False,...,False,False,True,True,False,False,False,False,False,False
4267770,NaN,658870,NaN,SIXNAILS,NaN,4.99,"xropi,stev3ns",2017,False,False,...,False,False,False,False,False,False,False,False,False,False
4267771,NaN,681550,NaN,NaN,NaN,4.99,NaN,0,False,False,...,False,False,False,False,False,False,False,False,False,False

Se elimina las filas que contienen nulos en la columna user_id y se convierte la columna playtime_forever a int32 para reducir espacio

In [25]:
df_genre=df_genre.dropna(subset=['user_id'])

df_genre['playtime_forever'] = df_genre['playtime_forever'].astype('int32')

df_genre

C:\Users\dario\AppData\Local\Temp\ipykernel_13736\3404113699.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_genre['playtime_forever'] = df_genre['playtime_forever'].astype('int32')

,user_id,item_id,playtime_forever,publisher,title,price,developer,release_year,Accounting,Action,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
27,UTNerd24,282010,5,Stainless Games Ltd,Carmageddon Max Pack,9.99,Stainless Games Ltd,1997,False,True,...,False,False,True,False,False,False,False,False,False,False
28,I_DID_911_JUST_SAYING,282010,0,Stainless Games Ltd,Carmageddon Max Pack,9.99,Stainless Games Ltd,1997,False,True,...,False,False,True,False,False,False,False,False,False,False
29,76561197962104795,282010,0,Stainless Games Ltd,Carmageddon Max Pack,9.99,Stainless Games Ltd,1997,False,True,...,False,False,True,False,False,False,False,False,False,False
30,r3ap3r78,282010,0,Stainless Games Ltd,Carmageddon Max Pack,9.99,Stainless Games Ltd,1997,False,True,...,False,False,True,False,False,False,False,False,False,False
31,saint556,282010,13,Stainless Games Ltd,Carmageddon Max Pack,9.99,Stainless Games Ltd,1997,False,True,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4267750,76561198273508956,80,0,Valve,Robotpencil Presents: Creative Composition,9.99,Valve,2004,False,True,...,False,False,False,False,False,False,False,False,False,False
4267751,76561198282090798,80,0,Valve,Robotpencil Presents: Creative Composition,9.99,Valve,2004,False,True,...,False,False,False,False,False,False,False,False,False,False
4267752,943525,80,0,Valve,Robotpencil Presents: Creative Composition,9.99,Valve,2004,False,True,...,False,False,False,False,False,False,False,False,False,False
4267753,76561198283312749,80,9,Valve,Robotpencil Presents: Creative Composition,9.99,Valve,2004,False,True,...,False,False,False,False,False,False,False,False,False,False
4267754,76561198312638244,80,99,Valve,Robotpencil Presents: Creative Composition,9.99,Valve,2004,False,True,...,False,False,False,False,False,False,False,False,False,False

Se eliminan las columnas 'publisher', 'title', 'price', 'developer', 'item_id' que no se van a usar

In [26]:
df_genre = df_genre.drop(columns=['publisher', 'title', 'price', 'developer', 'item_id'])
df_genre

,user_id,playtime_forever,release_year,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
27,UTNerd24,5,1997,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
28,I_DID_911_JUST_SAYING,0,1997,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
29,76561197962104795,0,1997,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
30,r3ap3r78,0,1997,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
31,saint556,13,1997,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4267750,76561198273508956,0,2004,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4267751,76561198282090798,0,2004,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4267752,943525,0,2004,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4267753,76561198283312749,9,2004,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4267754,76561198312638244,99,2004,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

se borra las filas que tienen valores 0 en las columnas playtime_forever, ya que no se las usara

In [27]:
df_genre = df_genre.loc[~((df_genre['playtime_forever'] == 0) )]
df_genre

,user_id,playtime_forever,release_year,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
27,UTNerd24,5,1997,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
31,saint556,13,1997,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
32,chidvd,110,1997,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
33,aerpub,13,1997,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
34,lucifer666678,8,1997,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4267744,76561198208507532,203,2004,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4267746,76561198221578852,244,2004,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4267747,EnVyIsSmexy,7,2004,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4267753,76561198283312749,9,2004,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4267754,76561198312638244,99,2004,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [28]:
# Reemplaza True por su equivalente en la columna "playtime_forever" para las de los generos para su posterior analisis
df_genre[df_genre.columns[3:]] = df_genre[df_genre.columns[3:]].multiply(df_genre['playtime_forever'], axis='index')

df_genre

C:\Users\dario\AppData\Local\Temp\ipykernel_13736\3655898956.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_genre[df_genre.columns[3:]] = df_genre[df_genre.columns[3:]].multiply(df_genre['playtime_forever'], axis='index')

,user_id,playtime_forever,release_year,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
27,UTNerd24,5,1997,0,5,0,0,0,0,0,...,0,0,5,0,0,0,0,0,0,0
31,saint556,13,1997,0,13,0,0,0,0,0,...,0,0,13,0,0,0,0,0,0,0
32,chidvd,110,1997,0,110,0,0,0,0,0,...,0,0,110,0,0,0,0,0,0,0
33,aerpub,13,1997,0,13,0,0,0,0,0,...,0,0,13,0,0,0,0,0,0,0
34,lucifer666678,8,1997,0,8,0,0,0,0,0,...,0,0,8,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4267744,76561198208507532,203,2004,0,203,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4267746,76561198221578852,244,2004,0,244,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4267747,EnVyIsSmexy,7,2004,0,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4267753,76561198283312749,9,2004,0,9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4267754,76561198312638244,99,2004,0,99,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
#elimina la columna playtime_forever
df_genre = df_genre.drop(columns=['playtime_forever'])

,user_id,release_year,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,Early Access,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
27,UTNerd24,1997,0,5,0,0,0,0,0,0,...,0,0,5,0,0,0,0,0,0,0
31,saint556,1997,0,13,0,0,0,0,0,0,...,0,0,13,0,0,0,0,0,0,0
32,chidvd,1997,0,110,0,0,0,0,0,0,...,0,0,110,0,0,0,0,0,0,0
33,aerpub,1997,0,13,0,0,0,0,0,0,...,0,0,13,0,0,0,0,0,0,0
34,lucifer666678,1997,0,8,0,0,0,0,0,0,...,0,0,8,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4267744,76561198208507532,2004,0,203,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4267746,76561198221578852,2004,0,244,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4267747,EnVyIsSmexy,2004,0,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4267753,76561198283312749,2004,0,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4267754,76561198312638244,2004,0,99,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
df_genre.to_parquet('3punto.parquet', index=False)

In [67]:
def UserForGenre( genero : str ):


    # Encontrar el usuario con más horas jugadas para el género dado
    usuario_mas_horas = df_genre.groupby('user_id')[genero].sum().idxmax()
    

    # Filtrar el DataFrame para el usuario con más horas jugadas
    df_usuario_mas_horas = df_genre[df_genre['user_id'] == usuario_mas_horas]
    
    # Agrupar por año y sumar las horas jugadas
    sumas_por_anio = df_usuario_mas_horas.groupby('release_year')[genero].sum()

    
    # Crear la estructura de retorno
    retorno = {
        "Usuario con más horas jugadas para Género": usuario_mas_horas,
        "Horas jugadas": sumas_por_anio.to_dict
    }

    return {
        "Usuario con más horas jugadas del genero": usuario_mas_horas,
        "Horas jugadas": sumas_por_anio        
    }

In [71]:
UserForGenre ('Adventure')

{'Usuario con más horas jugadas del genero': 'REBAS_AS_F-T',
 'Horas jugadas': release_year
 0         7869
 1998         0
 1999         0
 2001         0
 2002         0
 2003      1863
 2004         0
 2005      1113
 2006         0
 2007       161
 2008      2453
 2009     26904
 2010     19346
 2011     60283
 2012    144498
 2013    253312
 2014    190959
 2015    659550
 2016    790293
 2017     32947
 Name: Adventure, dtype: int32}

<h1>solución problema 4

def best_developer_year( año : int ): Devuelve el top 3 de desarrolladores con juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos)

In [72]:
df_review

                 user_id  item_id  recommend  sentiment_analysis  year
0      76561197970982479     1250       True                   2  2011
1      76561197970982479    22200       True                   2  2011
2      76561197970982479    43110       True                   2  2011
3                js41637   251610       True                   2  2014
4                js41637   227300       True                   0  2013
...                  ...      ...        ...                 ...   ...
59300  76561198312638244       70       True                   2  2023
59301  76561198312638244   362890       True                   2  2023
59302        LydiaMorley   273110       True                   2  2023
59303        LydiaMorley      730       True                   2  2023
59304        LydiaMorley      440       True                   2  2023

[59305 rows x 5 columns]

en reviews.ipynb se reviso que quienes tengan un 2 en analysis de sentimientos son positivos

In [82]:
df_best = df_review.loc[(df_review['recommend'] == True) & (df_review['sentiment_analysis'] == 2)]
df_best=df_best.drop(columns=['user_id'])
df_best

       item_id  recommend  sentiment_analysis  year
0         1250       True                   2  2011
1        22200       True                   2  2011
2        43110       True                   2  2011
3       251610       True                   2  2014
6       248820       True                   2  2023
...        ...        ...                 ...   ...
59300       70       True                   2  2023
59301   362890       True                   2  2023
59302   273110       True                   2  2023
59303      730       True                   2  2023
59304      440       True                   2  2023

[31733 rows x 4 columns]

In [83]:
df_items

,publisher,title,price,item_id,developer,release_year,Accounting,Action,Adventure,Animation &amp; Modeling,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,Kotoshiro,Lost Summoner Kitty,4.99,761140,Kotoshiro,2018,False,True,False,False,...,False,False,False,True,False,False,True,False,False,False
1,"Making Fun, Inc.",Ironbound,0.00,643980,Secret Level SRL,2018,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False
2,Poolians.com,Real Pool 3D - Poolians,0.00,670290,Poolians.com,2017,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
3,彼岸领域,弹炸人2222,0.99,767400,彼岸领域,2017,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
4,NaN,NaN,2.99,773570,NaN,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32128,Ghost_RUS Games,Russian Roads,1.99,773640,"Nikita ""Ghost_RUS""",2018,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
32129,Sacada,EXIT 2 - Directions,4.99,733530,Sacada,2018,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
32130,Laush Studio,NaN,1.99,610660,Laush Dmitriy Sergeevich,2018,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
32131,SIXNAILS,NaN,4.99,658870,"xropi,stev3ns",2017,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
32132,NaN,NaN,4.99,681550,NaN,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

se hacen un merge entre los df_best, df_items par extraer el nombre de los desarrolladores

In [90]:
df_b_dev = pd.merge(df_best, df_items[['item_id', 'developer']], on='item_id', how='left')
df_b_dev

       item_id  recommend  sentiment_analysis  year             developer
0         1250       True                   2  2011  Tripwire Interactive
1        22200       True                   2  2011              ACE Team
2        43110       True                   2  2011                   NaN
3       251610       True                   2  2014                   NaN
4       248820       True                   2  2023      Hopoo Games, LLC
...        ...        ...                 ...   ...                   ...
31728       70       True                   2  2023                 Valve
31729   362890       True                   2  2023    Crowbar Collective
31730   273110       True                   2  2023                 Nexon
31731      730       True                   2  2023                 Valve
31732      440       True                   2  2023                 Valve

[31733 rows x 5 columns]

In [115]:
df_b_dev.to_csv('4punto.csv', index=False)

la función encuentra y muestra el top 3 de desarrolladores con juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos)

In [118]:
def best_developer_year( año : int ):
    
    df_filt = df_b_dev.loc[(df_b_dev['year'] == año)]
    
    df_agrupado = df_filt.groupby('developer').size().reset_index(name='repeticiones')
    
    df_top3 = df_agrupado.sort_values('repeticiones', ascending=False).head(3).to_dict
    
    
    return df_top3

In [124]:
best_developer_year(2023)

<bound method DataFrame.to_dict of              developer  repeticiones
796              Valve           551
252  Facepunch Studios           128
579      Psyonix, Inc.            86>